

    <div class="plants-box">
        <div></div>
    <h1>My Data</h1>
    {{#with user}}

    <p>Username: {{username}}</p>
    <p>Country: {{country}}</p>
    <p>City: {{city}}</p>
    <p>ZIP: {{zip}}</p>
    <p>Address: {{street}}, {{house}}</p>
   
{{/with}}
<a href="/plants/add">add a plant</a>
 
    </div>