<div class="plants-box">
<h1 class="header1" style="margin-bottom: -10%;">Browse plants </h1>
    <div class="all-plants">
<h3 style="margin-left:0%;">I'm looking for...</h3>
<br>
<br>
<form action="/plants/searchresults" method="get" class="signup-form">
   <label for="species"></label>
  <input type="species" class="search" name="species" placeholder="Enter a plant name..." />
  <label for="city"></label> 
  <input type="city" class="search" name="city" placeholder="Enter a city..." />
    <button type="submit" class="search-button">🔍 Search</button> 
</form> 
<div class="search-results">

<div class="search-map-box">
    <div id='map' class="search-map"></div>

</div>

    <div class="plant-list">
    {{#each plants}} 
    <a class="single-plant-header" href="/plants/{{_id}}">{{species}}</a>
    <br>
    <p class="single-plant-details">{{size}}, by <a href="/profiles/{{user._id}}">{{user.username}}</a> 📍{{user.city}}</p>
    <input id="{{user._id}}" name="{{user.username}}" class="address" type="hidden" value="{{user.house}} {{user.street}} {{user.zip}} {{user.city}} {{user.country}}">
    {{/each}}
 </div> 
<input class="center" type="hidden" value="{{city}}"> 


</div>
</div>  
<script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script>
    async function doEvertything() {
    mapboxgl.accessToken = 'pk.eyJ1IjoibXJ6c3p0ayIsImEiOiJja2NicXFtcHMyN2RrMnZtZ2JwY2prMXFtIn0.Kve-wkiKTqkaXiD3fgG0MA';
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });

//center the map on search city or user's City
let mapCenter;
let response = await mapboxClient.geocoding
        .forwardGeocode({
            query: document.querySelector("input.center").value,
            autocomplete: false,
            limit: 1
        })
        .send()

    if (
                response &&
                response.body &&
                response.body.features &&
                response.body.features.length
            ) 
            
            {
                var feature = response.body.features[0];
                mapCenter=feature.center
                }

//draw the map
    let map =  new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: mapCenter,
        zoom: 9
    });
    
    //iterate over plants in the list and set the marker on the map
    document.querySelectorAll("input.address").forEach(elem=>{
        console.log(elem.value)
            mapboxClient.geocoding
        .forwardGeocode({
            query: elem.value,
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function(response) {
            if (
                response &&
                response.body &&
                response.body.features &&
                response.body.features.length
            ) {
                var feature = response.body.features[0];
                new mapboxgl.Marker()
                let marker = new mapboxgl.Marker();

                marker.setLngLat(feature.center)
                marker.addTo(map); 

                marker.getElement().addEventListener("click", event)
                const popup = new mapboxgl.Popup()
                popup.setLngLat(feature.center) 
                popup.setMaxWidth("300px")
                popup.setHTML(`<a href="/profiles/${elem.id}">${elem.name}</a> <p>${elem.value}</p>`)
                popup.addTo(map) 
         
            }
        });
    });
    }
    doEvertything()
</script>  


<script>

function showPopupOnClick(mapPoint) {
console.log('hello')
mapPoint = document.getElementsByClassName("div.mapboxgl-marker.mapboxgl-marker-anchor-center");

mapPoint.onclick = displayPopup();

function displayPopup(x) {

 x = document.getElementsByClassName("div.mapboxgl-popup-content");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 

}
</script>
</div>