 


<div class="plants-box">

<h1 class="header1">Browse plants </h1>
<br>
<h3>Search for</h3>

{{#each plants}}

<div class="single-plant"> 
<a class="single-plant-header" href="/plants/{{_id}}">{{species}}</a>
<p class="single-plant-details">{{size}}, by <a href="/profiles/{{user._id}}">{{user.username}}</a></p>
<p class="single-plant-details">{{city}}</p>
</div>
{{/each}}

</div> 

