
    <div class="plants-box">    
    <h1 class="header1">My Plants</h1>

    
    


 <div class="users-plants">
     {{#each plants}}
<p class = "list-entry">
    <p><a  class="single-plant-header" href="/plants/{{this._id}}">{{this.species}}</a>
, {{this.size}}</p>
{{!-- <form action="/movies/{{this._id}}/delete" method="post">
    <button type="submit">Delete from Database</button>
</form> --}}

<div class="users-plants-description">
<p>{{this.description}}</p>
</div>
<p>  </p>

</p>
{{/each}}
</div>

<a href="/plants/add" class="add-plant-button">Add a plant</a>

</div>