

<div class="plant-details">

{{#with plant}}
<h2>{{species}}</h2>
<p>Size: {{size}}</p>
<p>Description: <i>"{{description}}"</i></p>
<p>Owner: {{user.username}}</p>

<form action="/plants/{{_id}}/delete" method="post">
    <button type="submit">Delete plant</button>
</form>

<form action="/plants/{{_id}}/edit" method="get">
    <button type="submit">Edit plant</button>
</form>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibXJ6c3p0ayIsImEiOiJja2NicXFtcHMyN2RrMnZtZ2JwY2prMXFtIn0.Kve-wkiKTqkaXiD3fgG0MA';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [-74.5, 40], // starting position [lng, lat]
zoom: 9 // starting zoom
});
</script>
{{/with}}
{{!-- <h1 style="text-align: center;">{{species}}</h1>

<div class="plant-details-size-owner">
<p>{{size}}</p>
<p>by {{user.username}}</p>
</div>
<div class="plant-details-description">
<p>{{description}}</p>
</div>

{{/with}} --}}

</div>
